{%  extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p> Hello {{ name }}!</p>
{% endblock %}